@import 'estiloGeneral.css';

.main-content {
  grid-area: content;
  padding: 0.1rem 1rem 1rem;
  background-color: var(--color-maincontent);
}

.main-title {
  color: #000;
  font-size: 8vh;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 2.5rem 0;
}
.welcome-library {
    display: block;
    margin: 0.25rem auto 0;
    width: 56%;
    object-fit: contain;
    border-radius: 1rem;
  }